@import "../base/variables";

footer {
    background-color: $color-3;
    height: 180px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    h2 {
        font-size: 25px;
        color: white;
        font-style: italic;
        align-items: center;

    }
    div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .link-instagram {
            list-style: none;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            transition: 0.7s;
            img {
                width: 40px;
                height: 40px;
                margin-right:10px
            }
            span { 
                transition: 0.7s;
                &:hover {color: #FF8000;}
            }

        }
        .link-facebook {
            list-style: none;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            transition: 0.7s;
            img{
                width: 40px;
                height: 40px;
                margin-right:10px
            }
            span {
                transition: 0.7s;
                &:hover {color: #2196F3;}
            }

        }
        .link-twitter {
            list-style: none;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            transition: 0.7s;
            img{
                width: 40px;
                height: 40px;
                margin-right:10px
            }
            span {
                transition: 0.7s;
                &:hover {color: #3d5998;}
            }

        }
    }
}