/*--------------------------------------------HEADER--------------------------------------------*/

header {
    background: nth($colores,3);
    top: 0;
    padding: 20px;
    position: sticky;
    box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    -webkit-box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    -moz-box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    @include flex (flex,row,space-between,stretch); 
    z-index: 10;
    .logo-con-imagen {
        @include flex (flex,row,flex-start,center);
        img {
            width: 90px;
            height: 90px;
            }
        h1 {
            font-size: 40px;
            font-family: 'Pacifico', cursive;
            font-weight: 700;
            color: white;
            margin-left: 20px;
            margin-bottom: 0;
            }
        }
    .log-in-y-navegacion {
        height: 90px;
        @include flex (flex,column,space-between,stretch);
        text-transform: uppercase;
        font-weight: 700;
        .log-in {
            @include flex (flex,row,flex-end,stretch);
            .palabra-registrarse {
                @extend %links;
                &:hover {color: #BF307C;
                        transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
            .palabra-entrar {
                @extend %links;
                &:hover {color: #C6DB00;
                    transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
            .palabra-carrito {
                @extend %links;
                &:hover {color: #FF8000;
                    transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
        }
    .barra-de-navegacion {
        nav {
            ul {
                @include flex (flex,row,flex-end,stretch);
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    transition-duration: 0.5s;
                    &:hover {transform: scale(1.05);}
                    .palabra-inicio {@extend %links;
                        &:hover {color: #FF8000;}
                    }
                    .palabra-sobre-nosotros {@extend %links;
                    &:hover {color: #FFFF00;}
                    }
                    .palabra-productos {@extend %links;
                    &:hover {color: #FA3D3D;}
                    }
                    .palabra-contacto {@extend %links;
                        &:hover {color: #8322BB;}
                    }
                    .palabra-recetas {@extend %links;
                    &:hover {color: #2196F3;}
                    }
                }
            }
        }
    }
    }
}