/*--------------------------------------------HEADER--------------------------------------------*/

header {
    background: $color-3;
    top: 0;
    padding: 20px;
    position: sticky;
    box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    -webkit-box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    -moz-box-shadow: 9px 10px 26px -9px rgba(0,0,0,0.74);
    display: flex;
    justify-content: space-between; 
    z-index: 10;
    .logo-con-imagen {
        display: flex;
        align-items: center;
        img {
            width: 90px;
            height: 90px;
            }
        h1 {
            font-size: 40px;
            font-family: 'Pacifico', cursive;
            font-weight: 700;
            color: white;
            margin-left: 20px;
            margin-bottom: 0;
            }
        }
    .log-in-y-navegacion {
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 700;
        .log-in {
            display: flex;
            justify-content: flex-end;
            .palabra-registrarse {
                font-size: $tamaño-de-tipografia-y-magin-header;
                list-style: none;
                text-decoration: none;
                color: white;
                margin-left: $tamaño-de-tipografia-y-magin-header;
                transition-duration: 0.5s;
                &:hover {color: #BF307C;
                        transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
            .palabra-entrar {
                font-size: $tamaño-de-tipografia-y-magin-header;
                list-style: none;
                text-decoration: none;
                color: white;
                margin-left: $tamaño-de-tipografia-y-magin-header;
                transition-duration: 0.5s;
                &:hover {color: #C6DB00;
                    transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
            .palabra-carrito {
                font-size: $tamaño-de-tipografia-y-magin-header;
                list-style: none;
                text-decoration: none;
                color: white;
                margin-left: $tamaño-de-tipografia-y-magin-header;
                transition-duration: 0.5s;
                &:hover {color: #FF8000;
                    transform: scale(1.07);}
                i {font-size: $tamaño-de-tipografia-y-magin-header;}
            }
        }
    .barra-de-navegacion {
        nav {
            ul {
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: flex-end;
                li {
                    list-style: none;
                    transition-duration: 0.5s;
                    &:hover {transform: scale(1.05);}
                    .palabra-inicio {text-decoration: none;
                        list-style: none;
                        margin-left: $tamaño-de-tipografia-y-magin-header;
                        color: white;
                        font-size: $tamaño-de-tipografia-y-magin-header;
                        transition-duration: 0.5s;
                        &:hover {color: #FF8000;}
                    }
                    .palabra-sobre-nosotros {text-decoration: none;
                        list-style: none;
                        margin-left: $tamaño-de-tipografia-y-magin-header;
                        color: white;
                        font-size: $tamaño-de-tipografia-y-magin-header;
                        transition-duration: 0.5s;
                    &:hover {color: #FFFF00;}
                    }
                    .palabra-productos {text-decoration: none;
                        list-style: none;
                        margin-left: $tamaño-de-tipografia-y-magin-header;
                        color: white;
                        font-size: $tamaño-de-tipografia-y-magin-header;
                        transition-duration: 0.5s;
                    &:hover {color: #FA3D3D;}
                    }
                    .palabra-contacto {text-decoration: none;
                        list-style: none;
                        margin-left: $tamaño-de-tipografia-y-magin-header;
                        color: white;
                        font-size: $tamaño-de-tipografia-y-magin-header;
                        transition-duration: 0.5s;
                        &:hover {color: #8322BB;}
                    }
                    .palabra-recetas {text-decoration: none;
                        list-style: none;
                        margin-left: $tamaño-de-tipografia-y-magin-header;
                        color: white;
                        font-size: $tamaño-de-tipografia-y-magin-header;
                        transition-duration: 0.5s;
                    &:hover {color: #2196F3;}
                    }
                }
            }
        }
    }
    }
}