@media screen and (max-width:963px) {

/*----------------------------HEADER----------------------------*/

header {
        padding: 10px;
        }
header .logo-con-imagen img {
        width: 80px;
        height: 80px;
        }
header .logo-con-imagen h1 {
        font-size: 35px;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a {
        margin-left: 13px; 
        font-size: 16px;
        }
header .log-in-y-navegacion .log-in a {   
        margin-left: 13px;
        font-size: 16px;
        }
}

@media screen and (max-width:941px) {

/*----------------------------RECETAS----------------------------*/

.receta h3 {
        font-size: 30px;
        padding: 20px;
        }
.receta .grid-container-receta .imagen-de-receta img {
        width: 430px;
        height: 430px;
        }
}

@media screen and (max-width:919px) {

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 400px;
        height: 400px;
        }
}

@media screen and (max-width:891px) {

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 390px;
        height: 390px;
        }
.receta .grid-container-receta .ingredientes h4 {
        font-size: 17px;
        margin-bottom: 25px ;
        }
.receta .grid-container-receta .ingredientes ul li{
        font-size: 17px;
        }
.receta .grid-container-receta .instrucciones p{
        font-size: 23px;
        margin-bottom: 27px;
        }
.receta .grid-container-receta {
        padding: 0 40px 0 40px;
        }
}

@media screen and (max-width:870px){

/*----------------------------HEADER----------------------------*/

header .logo-con-imagen {
        justify-content: center;
        }
header .logo-con-imagen img {
        width: 70px;
        height: 70px;
        }
header .logo-con-imagen h1 {
        font-size: 30px;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a {
        margin-left: 10px; 
        font-size: 15px;
        }
header .log-in-y-navegacion .log-in a {   
        margin-left: 15px;
        font-size: 15px;
        }

/*------INDEX------*/

.hero p {
        font-size: 25px;
        }
.hero h2 {
            font-size: 30px;
        }
.seccion-ventajas div .ventajas-titulo {
        height: 60px;
        font-size: 25px;
        }
.seccion-ventajas .ventajas .ventaja-par div h3{
        font-size: 25px;
        }
.seccion-ventajas .ventajas .ventaja-impar div h3{
        font-size: 25px;
        }
.seccion-ventajas .ventajas .ventaja-par div p {
        font-size: 15px;
        }
.seccion-ventajas .ventajas .ventaja-impar div p {
            font-size: 15px;
        }
.nuestros-productos h2 {
        height: 60px;
        font-size: 25px;    
        }

/*----------------------------RECETAS----------------------------*/

.encabezado h2 {
        font-size: 26px;
        }
.encabezado p {
        font-size: 21px;
        }
}

@media screen and (max-width:827px) {

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 350px;
        height: 350px;
        }
.receta .grid-container-receta .ingredientes h4 {
        font-size: 15px;
        }
.receta .grid-container-receta .ingredientes ul li{
        font-size: 15px;
        margin-bottom: 8px;
        }
.receta .grid-container-receta .instrucciones p{
        font-size: 20px;
        }
}

@media screen and (max-width:725px) {

/*----------------------------HEADER----------------------------*/

header .logo-con-imagen img {
        width: 55px;
        height: 55px;
        }
header .logo-con-imagen h1 {
        font-size: 25px;
        margin-left: 15px;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a {
            font-size: 13px;
        }
header .log-in-y-navegacion .log-in a {
            font-size: 13px;
        }

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 320px;
        height: 320px;
        }
.receta .grid-container-receta .ingredientes h4 {
        font-size: 15px;
        margin-bottom: 22px;
        }
.receta .grid-container-receta .ingredientes ul li{
        font-size: 15px;
        margin-bottom: 6px;
        }
.receta .grid-container-receta .instrucciones p{
        font-size: 18px;
        margin-bottom: 23px;
        }
}

@media screen and (max-width:700px) {

/*----------------------------INDEX----------------------------*/

.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos {
        grid-template-columns: repeat(3,154px);
        }
.hero p {
        font-size: 20px;
        }
.hero h2 {
        font-size: 25px;
        }
.seccion-ventajas div .ventajas-titulo {
        height: 50px;
        font-size: 18px;
        }
.seccion-ventajas .ventajas .ventaja-par div h3{
        font-size: 18px;
        }
.seccion-ventajas .ventajas .ventaja-impar div h3{
        font-size: 18px;
        }
.seccion-ventajas .ventajas .ventaja-par div p {
        font-size: 15px;
        }
.seccion-ventajas .ventajas .ventaja-impar div p {
        font-size: 15px;
        }
.nuestros-productos h2 {
        height: 50px;
        font-size: 18px;    
        }

/*----------------------------RECETAS----------------------------*/

.receta h3 {
        font-size: 25px;
        padding: 10px;
        }
.receta .grid-container-receta {
        padding: 0 20px 0 20px;
        }
.encabezado h2 {
        font-size: 21px;
        }
.encabezado p {
        font-size: 16px;
        }

/*----------------------------FOOTER----------------------------*/

footer {
        height: 140px;
        }
footer div a span {
        display: none;
        }
footer h2 {
        font-size: 20px;
        }
}

@media screen and (max-width:690px) {

/*----------------------------HEADER----------------------------*/

header {
        padding: 10px;
        }
}

@media screen and (max-width:657px) {

/*----------------------------HEADER----------------------------*/

header .log-in-y-navegacion {
        height: 70px;
        }
header .logo-con-imagen img{
        width: 45px;
        height: 45px;
        }
header .logo-con-imagen h1{
        font-size: 20px;
        margin-left:10px ;
        }
header .log-in-y-navegacion .log-in a {
        font-size: 10px;
        }
header .log-in-y-navegacion .log-in a i{
        font-size: 15px;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a {
        font-size: 10px;
        }

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 290px;
        height: 290px;
        }
.receta .grid-container-receta .ingredientes h4 {
        font-size: 15px;
        }
.receta .grid-container-receta .ingredientes ul li{
        font-size: 15px;
        margin-bottom: 10px;
        }
.receta .grid-container-receta .instrucciones p{
        font-size: 18px;
        margin-bottom: 23px;
        }
.receta .grid-container-receta {
        padding: 0 10px 0 10px;
        }
}

@media screen and (max-width:607px) {

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta .imagen-de-receta img {
        width: 240px;
        height: 240px;
        }
.receta .grid-container-receta .ingredientes h4 {
        margin-bottom: 18px;
        }
.receta .grid-container-receta .ingredientes ul li{
        font-size: 13px;
        margin-bottom: 7px;
        }
}

@media screen and (max-width:550px) {

/*----------------------------INDEX----------------------------*/

.hero h2 {
        font-size: 20px;
        }
.hero p{
        font-size: 15px;
        }
.hero {padding: 60px;
        }
.seccion-ventajas .ventajas .ventaja-par {
        flex-direction: column;
        }
.seccion-ventajas .ventajas .ventaja-impar{
        flex-direction: column;
        }
.seccion-ventajas .ventajas .ventaja-par div {
        align-items: center;
        }
.seccion-ventajas .ventajas .ventaja-impar div {
        align-items: center;
        }
}

@media screen and (max-width:535px) {

/*----------------------------INDEX----------------------------*/

.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos {
        grid-template-columns: repeat(2,154px);
        }
.hero {
        padding: 40px;
        }
.hero h2{
        margin-bottom: 30px;
        }

/*----------------------------RECETAS----------------------------*/

.receta .grid-container-receta {
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "ingredientes"
        "imagen"
        "instrucciones"
        "instrucciones";
        gap: 10px;
        }
.receta .grid-container-receta .ingredientes {
        text-align: center;
        }
}

@media screen and (max-width:523px) {

/*----------------------------HEADER----------------------------*/

header {
        flex-direction: column;
        }
header .log-in-y-navegacion {
        height: 50px;
        }
header .log-in-y-navegacion .log-in {
        justify-content: center;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul {
        justify-content: center;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a{
        margin: 5px;
        }

/*----------------------------INDEX----------------------------*/
.hero {
        padding: 20px;
        }
.hero h2{
        margin-bottom: 20px;
        }
}

@media screen and (max-width:453px) {

/*----------------------------HEADER----------------------------*/

header {
        padding: 5px;
        }

/*----------------------------FOOTER----------------------------*/

footer {
        flex-direction: column;
        height: 140px;
        }
}

@media screen and (max-width:363px) {

/*----------------------------HEADER----------------------------*/

header .log-in-y-navegacion .log-in a {
        font-size: 9px;
        margin: 2px;
        }
header .log-in-y-navegacion .barra-de-navegacion nav ul li a {
        font-size: 9px;
        margin: 2px;
        }
header {
        position: static;
        }

/*----------------------------INDEX----------------------------*/

.seccion-ventajas .ventajas .ventaja-par div h3 {
        font-size: 15px;
        }
.seccion-ventajas .ventajas .ventaja-impar div h3 {
        font-size: 15px;
        }
.seccion-ventajas .ventajas .ventaja-par div p {
        font-size: 12px;
        }
.seccion-ventajas .ventajas .ventaja-impar div p {
        font-size: 12px;
        }
}

@media screen and (max-width:355px) {

/*----------------------------INDEX----------------------------*/
.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos div img {
        width: 130px;
        height: 130px;
        }   
.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos div{
        width: 134px;
        height: 180px;
        }
.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos div a{
        font-size: 13PX;
        }
.nuestros-productos .contenedor-de-grilla-productos {
        padding: 10px;
        }
.nuestros-productos .contenedor-de-grilla-productos .contenedor-de-productos {
        grid-template-columns: repeat(2,134px);
        grid-auto-rows: 180px;
        }
}