/*---------------------------------------PALETA DE COLORES---------------------------------------*/
$colores:#F9A649,
#F7BD56,
#77dd77,
#DDF5A6,
#FDFD96;

/*---------------------------------------TAMAÑO DE TIPOGRAFIA---------------------------------------*/
$tamaño-de-tipografia-y-magin-header:14px;
$tamaño-de-tipografia-tarjeta-de-productos:15px;

%boton {
    background-color: nth($colores,3);
    font-size: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border: 2px solid nth($colores,4);
    border-radius: 100px;
    letter-spacing: 1px;
}

%links {
    font-size: $tamaño-de-tipografia-y-magin-header;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-left: $tamaño-de-tipografia-y-magin-header;
    transition-duration: 0.5s;
}

@mixin flex ($flex,$direccion-flex,$justificacion,$alineacion) {
    display: $flex;
    flex-direction: $direccion-flex;
    justify-content: $justificacion;
    align-items: $alineacion;
}