/*---------------------------------------PALETA DE COLORES---------------------------------------*/
$color-1:#FD5F1F;
$color-2:#FF8000;
$color-3:#8DB600;
$color-4:#C6DB00;
$color-5:#FFFF00;
$color-6:#2196F3;
$color-7:#FA3D3D;
$color-8:#BF307C;
$color-9:#8322BB;