/*---------------------------------------PALETA DE COLORES---------------------------------------*/
$color-1:#FD5F1F;
$color-2:#FF8000;
$color-3:#8DB600;
$color-4:#C6DB00;
$color-5:#FFFF00;

/*---------------------------------------TAMAÑO DE TIPOGRAFIA---------------------------------------*/
$tamaño-de-tipografia-y-magin-header:16px;
$tamaño-de-tipografia-tarjeta-de-productos:15px;